.progress-wrapper {
    width: 100%;
}

.bar-outer {
    width: 360px;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
}

.bar-inner {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: green;
}

.bar-outer span {
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100%;
    font-weight: bold;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}