.comment-item-styles {
    margin-left: 10px;
    padding: 2px;
  }
  
  .comment-text-styles {
    font-size: 20px;
    text-align: left;
    margin-bottom: 8px;
  }
  
  .comment-action-wrapper-styles {
    display: flex;
    gap: 12px;
  }
  
  .comment-action-styles {
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
  }
  
  .comment-action-styles-delete {
    color: red;
  }
  
  .comment-widget-wrapper-styles {
    width: 360px;
    margin: 0 auto;
  }
  
  .main-comment-box-wrapper-styles {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .main-comment-input-styles {
    flex: 1;
    margin: 0;
  }
  
  .reply-field-wrapper-styles {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .reply-field-styles {
    flex: 1;
    margin: 0;
  }